
@{
    ViewBag.Title = "Index";
}

<h2>Reposteria - Sitio de Administración</h2>

<div>
    <img src="~/Imagenes/Fondo2.jpeg" alt="Reposteria" style="width: 200%; max-width: 1200px;" />
</div>